In [14]:
import pandas as pd
import re
import string

In [10]:
df= pd.read_csv('./movies.csv', index_col=False)

In [11]:
df.head()

,title,description,genres
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"Drama, Crime"
1,The Godfather,The story of the Corleone crime family as Mich...,"Drama, Crime"
2,The Godfather Part II,Parallel stories of young Vito Corleone’s rise...,"Drama, Crime"
3,Schindler's List,"The true story of Oskar Schindler, who saved o...","Drama, History, War"
4,12 Angry Men,Twelve jurors deliberate the fate of a young m...,Drama

In [13]:
df.columns

Index(['title', 'description', 'genres'], dtype='object')

In [17]:
def clean_text(text):
    if pd.isna(text):  # handle missing values
        return ""
    text = text.strip()  # remove leading/trailing spaces
    text = re.sub(r'\s+', ' ', text)  # replace multiple spaces with single space
    text = text.lower()
    text = re.sub(r'[^a-zA-Z0-9\s,.!?]', '', text) 
    text = text.translate(str.maketrans('', '', string.punctuation))
    return text

df['title'] = df['title'].apply(clean_text)
df['description'] = df['description'].apply(clean_text)
df['genres'] = df['genres'].apply(clean_text)

df.to_csv("movies_cleaned.csv", index=False)

print("CSV cleaned (punctuation removed) and saved as movies_cleaned.csv")

CSV cleaned (punctuation removed) and saved as movies_cleaned.csv

In [18]:
df = pd.read_csv('./movies_cleaned.csv')

In [19]:
df.head()

,title,description,genres
0,the shawshank redemption,imprisoned in the 1940s for the double murder ...,drama crime
1,the godfather,the story of the corleone crime family as mich...,drama crime
2,the godfather part ii,parallel stories of young vito corleones rise ...,drama crime
3,schindlers list,the true story of oskar schindler who saved ov...,drama history war
4,12 angry men,twelve jurors deliberate the fate of a young m...,drama